<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <remove name="xoml-ISAPI-2.0" />
            <remove name="xoml-Integrated" />
            <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
            <remove name="WebAdminHandler-Integrated" />
            <remove name="UrlRoutingHandler" />
            <remove name="TraceHandler-Integrated" />
            <remove name="svc-ISAPI-2.0" />
            <remove name="svc-Integrated" />
            <remove name="SimpleHandlerFactory-ISAPI-2.0" />
            <remove name="SimpleHandlerFactory-Integrated" />
            <remove name="ScriptResource" />
            <remove name="ScriptHandlerFactoryAppServices" />
            <remove name="ScriptHandlerFactory" />
            <remove name="rules-ISAPI-2.0" />
            <remove name="rules-Integrated" />
            <remove name="PageHandlerFactory-ISAPI-2.0" />
            <remove name="PageHandlerFactory-Integrated" />
            <remove name="MvcHttpHandler" />
            <remove name="HttpRemotingHandlerFactory-soap-ISAPI-2.0" />
            <remove name="HttpRemotingHandlerFactory-soap-Integrated" />
            <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0" />
            <remove name="HttpRemotingHandlerFactory-rem-Integrated" />
            <remove name="AXD-ISAPI-2.0" />
            <remove name="AssemblyResourceLoader-Integrated" />
        </handlers>
        <caching>
            <profiles>
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:30:00" location="Downstream" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:30:00" location="Downstream" />
                <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:30:00" location="Downstream" />
                <add extension=".htc" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:30:00" location="Downstream" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:30:00" location="Downstream" varyByQueryString="*" />
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="00:30:00" location="Downstream" varyByQueryString="*" />
            </profiles>
        </caching>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
        </staticContent>
    </system.webServer>
    <system.web>
        <httpHandlers>
            <clear />
            <!-- handlers for development -->
            <add path="*.config" verb="*" type="System.Web.HttpForbiddenHandler" validate="true" />
            <add verb="GET,HEAD" path="*.*" type="System.Web.StaticFileHandler" />
        </httpHandlers>
    </system.web>
</configuration>
